// Your custom SCSS should be written here...
@import 'moda_brand_colors';

$primary_gray: #4a4d50;
$standard_white: #fff;


.disabled {
  -webkit-filter: opacity(0.8);
}

.nav-header-title{
	color: $standard_white;
	text-align:right;
}
.webkit-zero {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.nopad {
	margin: 0;
	padding: 0;
}

.box {
	background: #333;
	border: 1px solid #333;
	border-radius: 3px;
	min-height: 200px;
	margin-bottom: 1em;
	.box-p {
		padding-left: 0.6em;
	}
}

.color {
	width: 100%;
	height: 150px;
	&.modern-plum {
		background: $modern_plum;
	}
	&.modern-plum-light {
		background: $modern_plum_light;
	}
	&.primary-button {
		background: $primary_button;
	}
	&.copyright-text {
		background: $copyright_text;
	}
	&.inactive-button {
		background: $inactive_button;
	}
	&.secondary-button {
		background: $secondary_button;
	}
}

.example-grid {
	.example-grid-child-styles{
		background: $primary_gray;
		border-radius: 3px;
		color: $standard-white;
		margin-bottom: 0.3em;
		text-align: center;
	}
	.example-grid-fancytiles {
		@include fancytiles(4, 2, 1);
		@extend .webkit-zero;
	}
}

.icons-tiles li {
  display: inline-block;
  float: left;
  padding-left: 0.90909%;
  padding-right: 0.90909%;
  width: 10%;
  height: 30px;
}



