// Your custom SCSS should be written here...
@import 'moda_brand_colors';

$primary_gray: #4a4d50;
$standard_white: #fff;

.additional-length {
	overflow: scroll;
}
.disabled {
  -webkit-filter: opacity(0.8);
}

.nav-header-title{
	color: $standard_white;
	text-align:right;
}
.webkit-zero {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.nopad {
	margin: 0;
	padding: 0;
}

.box {
	background: #333;
	border: 1px solid #333;
	border-radius: 3px;
	min-height: 200px;
	margin-bottom: 1em;
	.box-p {
		padding-left: 0.6em;
	}
}

.color {
	width: 100%;
	height: 150px;
	&.modern-plum {
		background: $modern_plum;
	}
	&.modern-plum-light {
		background: $modern_plum_light;
	}
	&.primary-button-plum {
		background: $primary_button_plum;
	}
	&.copyright-text-plum {
		background: $copyright_text_plum;
	}
	&.inactive-button-plum {
		background: $inactive_button_plum;
	}
	&.secondary-button-plum {
		background: $secondary_button_plum;
	}
	&.warm-brown {
		background: $warm_brown
	}
	&.menu-brown {
		background: $menu_brown;
	}
	&.label-back-button-brown {
		background: $label_back_button_brown;
	}
	&.network-text-brown {
		background: $network_text_brown;
	}
	&.inactive-text-brown {
		background: $inactive_text_brown;
	}
	&.watermark-text-brown {
		background: $watermark_text_brown;
	}
	&.border-color-brown {
		background: $border_color_brown;
	}
	&.title-bar-brown {
		background: $title_bar_brown;
	}
	&.link-row-01-brown {
		background: $link_row_01_brown;
	}
	&.link-row-02-brown {
		background: $link_row_02_brown;
	}
	&.inactive-secondary-brown {
		background: $inactive_secondary_brown;
	}
	&.page-background-brown {
		background: $page_background_brown;
	}
	&.back-button-brown {
		background: $back_button_brown;
	}
	&.modern-yellow {
		background: $modern_yellow;
	}
	&.background-yellow {
		background: $background_yellow;
	}
	&.alert-yellow {
		background: $alert_yellow;
	}
	&.modern-aqua {
		background: $modern_aqua;
	}
	&.teal {
		background: $teal;
	}
	&.vertical-line-teal {
		background: $vertical_line_teal
	}
	&.label-background-teal{
		background: $label_background_teal;
	}
}

.example-grid {
	.example-grid-child-styles{
		background: $primary_gray;
		border-radius: 3px;
		color: $standard-white;
		margin-bottom: 0.3em;
		text-align: center;
	}
	.example-grid-fancytiles {
		@include fancytiles(4, 2, 1);
		@extend .webkit-zero;
	}
}

.icons-tiles li {
  display: inline-block;
  float: left;
  padding-left: 0.90909%;
  padding-right: 0.90909%;
  width: 10%;
  height: 30px;
}



