// moda brand color variables

$modern_plum: #a50069; //rgba(165,0,105, 1)
$modern_plum_light: #c25f92; //rgba(194,95,146,1)

$primary_button: #650141; //rgba(101,1,65,1)
$copyright_text: #cb74A0; //rgba(203,116,160,1)
$inactive_button: #e1abc3; //rgba(225,171,195,1)
$secondary_button: #f2d9e9; //rgba(242,217,233,1)