// moda brand color variables

// plums
$modern_plum: #a50069; //rgba(165,0,105, 1)
$modern_plum_light: #c25f92; //rgba(194,95,146,1)

$primary_button_plum: #650141; //rgba(101,1,65,1)
$copyright_text_plum: #cb74A0; //rgba(203,116,160,1)
$inactive_button_plum: #e1abc3; //rgba(225,171,195,1)
$secondary_button_plum: #f2d9e9; //rgba(242,217,233,1)

// browns
$warm_brown: #493b31; //rgba(73,59,49,1)
$menu_brown: #5c4f46; //rgba(92,79,70, 1) 
$label_back_button_brown: #716156; //rgba(113,97,86,1)
$network_text_brown: #80766f; //rgba(128,118,111,1)
$inactive_text_brown: #9a938d; //rgba(154,147,141,1)
$watermark_text_brown: #a49d98; //rgba(164,157,152, 1)
$border_color_brown: #b8b0ab; //rgba(184,176,171,1)
$title_bar_brown: #bab2ad; //rgba(186,178,173,1)
$link_row_01_brown: #b6b1ad; //rgba(182,177,173,1)
$link_row_02_brown: #dbd8d6; //rgba(219,216,214,1)
$inactive_secondary_brown: #d0cbc8; //rgba(208,203,200, 1)
$page_background_brown: #ecebea; //rgba(236,235,234,1)
$back_button_brown: #f4f4f4; //rgba(244,244,244, 1)

// yellows
$modern_yellow: #ffe92c; //rgba(255,233,44,1)
$background_yellow: #fded65; //rgba(253,237,101,1)
$alert_yellow: #fef9ce; //rgba(254,249,206,1)

// aqua and teal
$modern_aqua: #2fb5b7; //rgba(47,181,183,1)
$teal: #0098aa; //rgba(0,152,170,1)
$vertical_line_teal: #8cd6d7; //rgba(140,214,215,1)
$label_background_teal: #eaf7f8; //rgba(234,247,248,1)