<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <!--
    Use the .htaccess and remove these lines to avoid edge case issues.
          More info: h5bp.com/b/378 
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Gumby - A Flexible, Responsive CSS Framework - Powered by SASS</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="humans.txt">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Facebook Metadata /-->
    <meta property="fb:page_id" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <meta property="og:title" content="">
    <!-- Google+ Metadata /-->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!--
    We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
        However, there is a blank style.css in the css directory should you prefer 
    -->
    <link rel="stylesheet" href="../css/gumby.css">
    <!-- <link rel="stylesheet" href="css/style.css">-->
    <script src="../js/libs/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="row">
        <div class="two columns">
          <h2><a href="/"><i class="icon-left-open-big"></i></a></h2>
        </div>
        <div class="ten columns pull_right">
          <h2 class="nav-header-title">colors</h2>
        </div>
      </div>
    </nav>
    <section class="row">
      <section class="two columns">
        <nav gumby-fixed="top">
          <h4><a href="#plums" gumby-update="" gumby-duration="600" gumby-goto="[data-target='plums']" class="skip">plums</a></h4>
          <hr>
          <ul>
            <li>modern plum</li>
            <li>modern plum light</li>
            <li>primary button</li>
            <li>copyright button</li>
            <li>inactive button</li>
            <li>secondary button</li>
          </ul>
          <h4><a href="#browns" gumby-update="" gumby-duration="600" gumby-goto="[data-target='browns']" class="skip">browns</a></h4>
          <hr>
          <ul>
            <li>warm brown</li>
            <li>menu background</li>
            <li>back button</li>
            <li>network text</li>
            <li>inactive text</li>
            <li>watermark text</li>
            <li>border color</li>
            <li>title bar</li>
            <li>link row 01</li>
            <li>link row 02</li>
            <li>inactive secondary</li>
            <li>page background</li>
            <li>back button</li>
          </ul>
          <h4><a href="#comp" gumby-update="" gumby-duration="600" gumby-goto="[data-target='comp']" class="skip">components</a></h4>
          <hr>
          <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>modal</li>
            <li>five</li>
            <li>six</li>
          </ul>
          <h4><a href="#ui" gumby-update="" gumby-duration="600" gumby-goto="[data-target='ui']" class="skip">user interface</a></h4>
          <hr>
          <ul>
            <li>buttons</li>
            <li>forms</li>
            <li>icons</li>
            <li>test</li>
            <li>tabs</li>
            <li>tables</li>
          </ul>
          <h4><a href="#dev" gumby-update="" gumby-duration="600" gumby-goto="[data-target='dev']" class="skip">development</a></h4>
          <hr>
          <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
          </ul>
        </nav>
      </section>
      <section class="nine columns push_one">  
        <div class="row">
          <h4 data-target="plums">plums</h4>
          <hr>
        </div>
        <section class="row">
          <div class="row">
            <div class="twelve columns">
              <div class="three columns box">
                <div class="color modern-plum"></div>
                <p class="box-p">modren plum<br>#a50069</p>
              </div>
              <div class="three columns box">
                <div class="color modern-plum-light"></div>
                <p class="box-p">modern plum lght<br>#c25f92 </p>
              </div>
              <div class="three columns box">
                <div class="color primary-button-plum"></div>
                <p class="box-p">primary button<br>#650141;</p>
              </div>
              <div class="three columns box">
                <div class="color copyright-text-plum"></div>
                <p class="box-p">copyright text<br>#cb74a0</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <div class="three columns box">
                <div class="color inactive-button-plum"></div>
                <p class="box-p">inactive button<br>#e1abc3</p>
              </div>
              <div class="three columns box">
                <div class="color secondary-button-plum"></div>
                <p class="box-p">secondary button<br>#f2d9e9</p>
              </div>
            </div>
          </div>
          <!--BROWNS        -->
          <div class="row">
            <h4 data-target="browns">browns</h4>
            <hr>
          </div>
          <section class="row">
            <div class="row">
              <div class="twelve columns">
                <div class="three columns box">
                  <div class="color warm-brown"></div>
                  <p class="box-p">warm brown<br>#493b31</p>
                </div>
                <div class="three columns box">
                  <div class="color menu-brown"></div>
                  <p class="box-p">menu brown<br>#5c4f46 </p>
                </div>
                <div class="three columns box">
                  <div class="color label-back-button-brown"></div>
                  <p class="box-p">back button<br>#716156</p>
                </div>
                <div class="three columns box">
                  <div class="color network-text-brown"></div>
                  <p class="box-p">network text<br>#80766f</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="twelve columns">
                <div class="three columns box">
                  <div class="color inactive-text-brown"></div>
                  <p class="box-p">inactive text<br>#9a938d</p>
                </div>
                <div class="three columns box">
                  <div class="color watermark-text-brown"></div>
                  <p class="box-p">watermark text<br>#a49d98</p>
                </div>
                <div class="three columns box">
                  <div class="color border-color-brown"></div>
                  <p class="box-p">border color<br>#b8b0ab</p>
                </div>
                <div class="three columns box">
                  <div class="color title-bar-brown"></div>
                  <p class="box-p">title bar<br>#bab2ad</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="twelve columns">
                <div class="three columns box">
                  <div class="color link-row-01-brown"></div>
                  <p class="box-p">link row 01<br>#b6b1ad</p>
                </div>
                <div class="three columns box">
                  <div class="color link-row-02-brown"></div>
                  <p class="box-p">link row 02<br>#dbd8d6</p>
                </div>
                <div class="three columns box">
                  <div class="color inactive-secondary-brown"></div>
                  <p class="box-p">inactive secondary btn<br>#d0cbc8</p>
                </div>
                <div class="three columns box">
                  <div class="color page-background-brown"></div>
                  <p class="box-p">page background<br>#ecebea </p>
                </div>
              </div>
            </div>
          </section>
          <div class="row">
            <div class="twelve columns">
              <div class="three columns box">
                <div class="color back-button-brown"></div>
                <p class="box-p">back button<br>#b6b1ad</p>
              </div>
            </div>
          </div>
          <div class="row">
            <h4 data-target="yellows">yellows</h4>
            <hr>
          </div>
          <section class="row">
            <div class="row">
              <div class="twelve columns">
                <div class="three columns box">
                  <div class="color warm-brown"></div>
                  <p class="box-p">warm brown<br>#493b31</p>
                </div>
                <div class="three columns box">
                  <div class="color menu-brown"></div>
                  <p class="box-p">menu brown<br>#5c4f46 </p>
                </div>
                <div class="three columns box">
                  <div class="color label-back-button"></div>
                  <p class="box-p">back button<br>#716156</p>
                </div>
                <div class="three columns box">
                  <div class="color network-text"></div>
                  <p class="box-p">network text<br>#80766f</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="twelve columns">
                <div class="three columns box">
                  <div class="color inactive-text"></div>
                  <p class="box-p">inactive text<br>#9a938d</p>
                </div>
              </div>
            </div>
          </section>
        </section>
      </section>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.10.2.min.js"><\/script>')</script></script>
    <!--
    Include gumby.js followed by UI modules followed by gumby.init.js
    Or concatenate and minify into a single file 
    -->
    <script gumby-touch="../js/libs" src="../js/libs/gumby.js"></script>
    <script src="../js/libs/ui/gumby.retina.js"></script>
    <script src="../js/libs/ui/gumby.fixed.js"></script>
    <script src="../js/libs/ui/gumby.skiplink.js"></script>
    <script src="../js/libs/ui/gumby.toggleswitch.js"></script>
    <script src="../js/libs/ui/gumby.checkbox.js"></script>
    <script src="../js/libs/ui/gumby.radiobtn.js"></script>
    <script src="../js/libs/ui/gumby.tabs.js"></script>
    <script src="../js/libs/ui/gumby.navbar.js"></script>
    <script src="../js/libs/ui/jquery.validation.js"></script>
    <script src="../js/libs/gumby.init.js"></script>
    <!--
    Google's recommended deferred loading of JS
    gumby.min.js contains gumby.js, all UI modules and gumby.init.js
    Note: If you opt to use this method of defered loading,
    ensure that any javascript essential to the initial
    display of the page is included separately in a normal
    script tag.
    <script type="text/javascript">
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "js/libs/gumby.min.js";
    document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
    -->
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
    <!-- Change UA-XXXXX-X to be your site's ID-->
    <!--
    script.
      window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
      
    -->
    <!--
    Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
        chromium.org/developers/how-tos/chrome-frame-getting-started 
    -->
    <!--if lt IE 7 
    script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
    script.
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
    -->
  </body>
</html>