

doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
  head
    meta(charset='utf-8')
    //
       Use the .htaccess and remove these lines to avoid edge case issues.
             More info: h5bp.com/b/378 
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Gumby - A Flexible, Responsive CSS Framework - Powered by SASS
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='humans.txt')
    link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
    // Facebook Metadata /
    meta(property='fb:page_id', content='')
    meta(property='og:image', content='')
    meta(property='og:description', content='')
    meta(property='og:title', content='')
    // Google+ Metadata /
    meta(itemprop='name', content='')
    meta(itemprop='description', content='')
    meta(itemprop='image', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    //
       We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
           However, there is a blank style.css in the css directory should you prefer 
    link(rel='stylesheet', href='../css/gumby.css')
    // <link rel="stylesheet" href="css/style.css">
    script(src='../js/libs/modernizr-2.6.2.min.js')
  body
    nav(class="navbar")
      div(class="row")
        div(class="two columns")
          h2
            a(href="/")
              i(class="icon-left-open-big")
        div(class="ten columns pull_right")
          h2(class="nav-header-title")
            |colors


    section(class="row")
      section(class="two columns")
        nav
          h4
            a(href="#plums", class="skip" , gumby-update="", gumby-duration="600", gumby-goto="[data-target='plums']")
              |plums
          hr
          ul
            li
              |modern plum
            li
              |modern plum light
            li
              |primary button
            li
              |copyright button
            li
              |inactive button
            li
              |secondary button
          h4
            a(href="#browns", class="skip" , gumby-update="", gumby-duration="600", gumby-goto="[data-target='browns']")
              |browns
          hr
          ul
            li
              |warm brown
            li
              |menu background
            li
              |back button
            li
              |network text
            li
              |inactive text
            li
              |watermark text
            li
              |border color
            li
              |title bar
            li
              |link row 01
            li
              |link row 02
            li
              |inactive secondary
            li
              |page background
            li
              |back button



          h4
            a(href="#yellows", class="skip" , gumby-update="", gumby-duration="600", gumby-goto="[data-target='yellows']")
              |yellows
          hr
          ul
            li
              |modern yellow
            li
              |background yellow
            li
              |alert yellow

          h4
            a(href="#aqua", class="skip" , gumby-update="", gumby-duration="600", gumby-goto="[data-target='aqua']")
              |aqua | teal
          hr
          ul
            li
              |modern aqua
            li
              |teal
            li
              |vertical line
            li
              |label background

          h4
            a(href="#dev", class="skip" , gumby-update="", gumby-duration="600", gumby-goto="[data-target='dev']")
              |development
          hr
          ul
            li
              |one
            li
              |two
            li
              |three
            li
              |four

      section(class="nine columns push_one")   
        div(class="row")
          h4(data-target="plums")
            |plums
          hr
        section(class="row")
          div(class="row")
            div(class="twelve columns")
              div(class="three columns box")
                div(class="color modern-plum")
                p(class="box-p")
                  |modren plum
                  br
                  |#a50069

              div(class="three columns box")
                div(class="color modern-plum-light")
                p(class="box-p")
                  |modern plum lght
                  br
                  |#c25f92 

              div(class="three columns box")
                div(class="color primary-button-plum")
                p(class="box-p")
                  |primary button
                  br
                  |#650141;

              div(class="three columns box")
                div(class="color copyright-text-plum")
                p(class="box-p")
                  |copyright text
                  br
                  |#cb74a0

          div(class="row")
            div(class="twelve columns")
              div(class="three columns box")
                div(class="color inactive-button-plum")
                p(class="box-p")
                  |inactive button
                  br
                  |#e1abc3

              div(class="three columns box")
                div(class="color secondary-button-plum")
                p(class="box-p")
                  |secondary button
                  br
                  |#f2d9e9

          //BROWNS        
          div(class="row")
            h4(data-target="browns")
              |browns
            hr
          section(class="row")
            div(class="row")
              div(class="twelve columns")
                div(class="three columns box")
                  div(class="color warm-brown")
                  p(class="box-p")
                    |warm brown
                    br
                    |#493b31

                div(class="three columns box")
                  div(class="color menu-brown")
                  p(class="box-p")
                    |menu brown
                    br
                    |#5c4f46 

                div(class="three columns box")
                  div(class="color label-back-button-brown")
                  p(class="box-p")
                    |back button
                    br
                    |#716156

                div(class="three columns box")
                  div(class="color network-text-brown")
                  p(class="box-p")
                    |network text
                    br
                    |#80766f

            div(class="row")
              div(class="twelve columns")
                div(class="three columns box")
                  div(class="color inactive-text-brown")
                  p(class="box-p")
                    |inactive text
                    br
                    |#9a938d

                div(class="three columns box")
                  div(class="color watermark-text-brown")
                  p(class="box-p")
                    |watermark text
                    br
                    |#a49d98
                div(class="three columns box")
                  div(class="color border-color-brown")
                  p(class="box-p")
                    |border color
                    br
                    |#b8b0ab
                div(class="three columns box")
                  div(class="color title-bar-brown")
                  p(class="box-p")
                    |title bar
                    br
                    |#bab2ad

            div(class="row")
              div(class="twelve columns")
                div(class="three columns box")
                  div(class="color link-row-01-brown")
                  p(class="box-p")
                    |link row 01
                    br
                    |#b6b1ad

                div(class="three columns box")
                  div(class="color link-row-02-brown")
                  p(class="box-p")
                    |link row 02
                    br
                    |#dbd8d6
                div(class="three columns box")
                  div(class="color inactive-secondary-brown")
                  p(class="box-p")
                    |inactive secondary btn
                    br
                    |#d0cbc8
                div(class="three columns box")
                  div(class="color page-background-brown")
                  p(class="box-p")
                    |page background
                    br
                    |#ecebea 

          div(class="row")
            div(class="twelve columns")
              div(class="three columns box")
                div(class="color back-button-brown")
                p(class="box-p")
                  |back button
                  br
                  |#b6b1ad

          div(class="row")
            h4(data-target="yellows")
              |yellows
            hr
          section(class="row")
            div(class="row")
              div(class="twelve columns")
                div(class="three columns box")
                  div(class="color modern-yellow")
                  p(class="box-p")
                    |modern yellow
                    br
                    |#ffe92c

                div(class="three columns box")
                  div(class="color background-yellow")
                  p(class="box-p")
                    |background yellow
                    br
                    |#fded65 

                div(class="three columns box")
                  div(class="color alert-yellow")
                  p(class="box-p")
                    |alert yellow
                    br
                    |#fef9ce

          div(class="row")
            h4(data-target="aqua")
              |aqua | teal
            hr
          section(class="row")
            div(class="row")
              div(class="twelve columns")
                div(class="three columns box")
                  div(class="color modern-aqua")
                  p(class="box-p")
                    |modern aqua
                    br
                    |#2fb5b7

                div(class="three columns box")
                  div(class="color teal")
                  p(class="box-p")
                    |teal
                    br
                    |#0098aa 

                div(class="three columns box")
                  div(class="color vertical-line-teal")
                  p(class="box-p")
                    |vertical line
                    br
                    |#8cd6d7

                div(class="three columns box")
                  div(class="color label-background-teal")
                  p(class="box-p")
                    |label background teal
                    br
                    |#eaf7f8
      




      
      
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/libs/jquery-1.10.2.min.js"><\/script>')</script>
    //
        Include gumby.js followed by UI modules followed by gumby.init.js
        Or concatenate and minify into a single file 
    script(gumby-touch='../js/libs', src='../js/libs/gumby.js')
    script(src='../js/libs/ui/gumby.retina.js')
    script(src='../js/libs/ui/gumby.fixed.js')
    script(src='../js/libs/ui/gumby.skiplink.js')
    script(src='../js/libs/ui/gumby.toggleswitch.js')
    script(src='../js/libs/ui/gumby.checkbox.js')
    script(src='../js/libs/ui/gumby.radiobtn.js')
    script(src='../js/libs/ui/gumby.tabs.js')
    script(src='../js/libs/ui/gumby.navbar.js')
    script(src='../js/libs/ui/jquery.validation.js')
    script(src='../js/libs/gumby.init.js')
    //
        Google's recommended deferred loading of JS
        gumby.min.js contains gumby.js, all UI modules and gumby.init.js
        Note: If you opt to use this method of defered loading,
        ensure that any javascript essential to the initial
        display of the page is included separately in a normal
        script tag.
        <script type="text/javascript">
        function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "js/libs/gumby.min.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
        else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
        else window.onload = downloadJSAtOnload;
    script(src='../js/plugins.js')
    script(src='../js/main.js')
    // Change UA-XXXXX-X to be your site's ID
    //
      script.
        window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
          load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
        
    //
       Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
           chromium.org/developers/how-tos/chrome-frame-getting-started 
    //if lt IE 7 
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script.
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
