<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Gumby - A Flexible, Responsive CSS Framework - Powered by SASS</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="humans.txt">

  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

  <!-- Facebook Metadata /-->
  <meta property="fb:page_id" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content=""/>
  <meta property="og:title" content=""/>

  <!-- Google+ Metadata /-->
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
     However, there is a blank style.css in the css directory should you prefer -->
  <link rel="stylesheet" href="../css/gumby.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->

  <script src="../js/libs/modernizr-2.6.2.min.js"></script>
</head>

<body>
  <nav class="navbar">
       <div class="row">
         <div class="two columns">
           <h2><a href="/"><i class="icon-left-open-big"></i></a></h2>
         </div>
         <div class="ten columns pull_right">
           <h2 class="nav-header-title">icons</h2>
         </div>
       </div>
     </nav>
     <div class="row">
       <h4 class="twelve columns">default icons</h4>
       <hr>
     </div>
     <section class="row">
       <div class="twelve columns">
         <ul class="icons-tiles">
           <li data-tooltip="icon-note" class="ttip"><i class="icon-note"></i></li>
           <li data-tooltip="icon-note-beamed" class="ttip"><i class="icon-note-beamed"></i></li>
           <li data-tooltip="icon-music" class="ttip"><i class="icon-music"></i></li>
           <li data-tooltip="icon-search" class="ttip"><i class="icon-search"></i></li>
           <li data-tooltip="icon-flashlight" class="ttip"><i class="icon-flashlight"></i></li>
           <li data-tooltip="icon-mail" class="ttip"><i class="icon-mail"></i></li>
           <li data-tooltip="icon-heart" class="ttip"><i class="icon-heart"></i></li>
           <li data-tooltip="icon-heart" class="ttip"><i class="icon-heart"></i></li>
           <li data-tooltip="icon-heart-empty" class="ttip"><i class="icon-heart-empty"></i></li>
           <li data-tooltip="icon-star" class="ttip"><i class="icon-star"></i></li>
           <li data-tooltip="icon-star-empty" class="ttip"><i class="icon-star-empty"></i></li>
           <li data-tooltip="icon-user" class="ttip"><i class="icon-user"></i></li>
           <li data-tooltip="icon-users" class="ttip"><i class="icon-users"></i></li>
           <li data-tooltip="icon-user-add" class="ttip"><i class="icon-add"></i></li>
           <li data-tooltip="icon-video" class="ttip"><i class="icon-video"></i></li>
           <li data-tooltip="icon-check" class="ttip"><i class="icon-check"></i></li>
           <li data-tooltip="icon-cancel" class="ttip"><i class="icon-cancel"></i></li>
           <li data-tooltip="icon-cancel-circled" class="ttip"><i class="icon-cancel-circled"></i></li>
           <li data-tooltip="icon-picture" class="ttip"><i class="icon-picture"></i></li>
           <li data-tooltip="icon-camera" class="ttip"><i class="icon-camera"></i></li>
           <li data-tooltip="icon-layout" class="ttip"><i class="icon-layout"></i></li>
           <li data-tooltip="icon-menu" class="ttip"><i class="icon-menu"></i></li>
           <li data-tooltip="icon-plus-squared" class="ttip"><i class="icon-plus-squared"></i></li>
           <li data-tooltip="icon-minus" class="ttip"><i class="icon-minus"></i></li>
           <li data-tooltip="icon-minus-circled" class="ttip"><i class="icon-minus-circled"></i></li>
           <li data-tooltip="icon-minus-squared" class="ttip"><i class="icon-minus-squared"></i></li>
           <li data-tooltip="icon-cancel-squared" class="ttip"><i class="icon-cancel-squared"></i></li>
           <li data-tooltip="icon-plus" class="ttip"><i class="icon-cancel-plus"></i></li>
           <li data-tooltip="icon-plus-circled" class="ttip"><i class="icon-plus-circled"></i></li>
           <li data-tooltip="icon-info" class="ttip"><i class="icon-info"></i></li>
           <li data-tooltip="icon-info-circled" class="ttip"><i class="icon-info-circled"></i></li>
           <li data-tooltip="icon-back" class="ttip"><i class="icon-back"></i></li>
           <li data-tooltip="icon-home" class="ttip"><i class="icon-home"></i></li>
           <li data-tooltip="icon-link" class="ttip"><i class="icon-link"></i></li>
           <li data-tooltip="icon-help" class="ttip"><i class="icon-help"></i></li>
           <li data-tooltip="icon-help-circled" class="ttip"><i class="icon-help-circled"></i></li>
           <li data-tooltip="icon-attach" class="ttip"><i class="icon-attach"></i></li>
           <li data-tooltip="icon-lock" class="ttip"><i class="icon-lock"></i></li>
           <li data-tooltip="icon-lock-open" class="ttip"><i class="icon-lock-open"></i></li>
           <li data-tooltip="icon-eye" class="ttip"><i class="icon-eye"></i></li>
           <li data-tooltip="icon-tag" class="ttip"><i class="icon-tag"></i></li>
           <li data-tooltip="icon-bookmark" class="ttip"><i class="icon-bookmark"></i></li>
           <li data-tooltip="icon-bookmarks" class="ttip"><i class="icon-bookmarks"></i></li>
           <li data-tooltip="icon-flag" class="ttip"><i class="icon-flag"></i></li>
           <li data-tooltip="icon-thumbs-up" class="ttip"><i class="icon-thumbs-up"></i></li>
           <li data-tooltip="icon-thumbs-down" class="ttip"><i class="icon-thumbs-down"></i></li>
           <li data-tooltip="icon-download" class="ttip"><i class="icon-download"></i></li>
           <li data-tooltip="icon-upload" class="ttip"><i class="icon-upload"></i></li>
           <li data-tooltip="icon-upload-cloud" class="ttip"><i class="icon-upload-cloud"></i></li>
           <li data-tooltip="icon-reply" class="ttip"><i class="icon-reply"></i></li>
           <li data-tooltip="icon-reply-all" class="ttip"><i class="icon-reply-all"></i></li>
           <li data-tooltip="icon-forward" class="ttip"><i class="icon-forward"></i></li>
           <li data-tooltip="icon-quote" class="ttip"><i class="icon-quote"></i></li>
           <li data-tooltip="icon-code" class="ttip"><i class="icon-code"></i></li>
           <li data-tooltip="icon-export" class="ttip"><i class="icon-export"></i></li>
           <li data-tooltip="icon-pencil" class="ttip"><i class="icon-pencil"></i></li>
           <li data-tooltip="icon-feather" class="ttip"><i class="icon-feather"></i></li>
           <li data-tooltip="icon-print" class="ttip"><i class="icon-print"></i></li>
           <li data-tooltip="icon-retweet" class="ttip"><i class="icon-retweet"></i></li>
           <li data-tooltip="icon-keyboard" class="ttip"><i class="icon-keyboard"></i></li>
           <li data-tooltip="icon-comment" class="ttip"><i class="icon-comment"></i></li>
           <li data-tooltip="icon-alert" class="ttip"><i class="icon-alert"></i></li>
           <li data-tooltip="icon-vcard" class="ttip"><i class="icon-vcard"></i></li>
           <li data-tooltip="icon-address" class="ttip"><i class="icon-address"></i></li>
           <li data-tooltip="icon-chat" class="ttip"><i class="icon-bell"></i></li>
           <li data-tooltip="icon-attention" class="ttip"><i class="icon-attention"></i></li>
           <li data-tooltip="icon-location" class="ttip"><i class="icon-location"></i></li>
           <li data-tooltip="icon-map" class="ttip"><i class="icon-map"></i></li>
           <li data-tooltip="icon-direction" class="ttip"><i class="icon-direction"></i></li>
           <li data-tooltip="icon-compass" class="ttip"><i class="icon-compass"></i></li>
           <li data-tooltip="icon-cup" class="ttip"><i class="icon-cup"></i></li>
           <li data-tooltip="icon-trash" class="ttip"><i class="icon-trash"></i></li>
           <li data-tooltip="icon-doc" class="ttip"><i class="icon-doc"></i></li>
           <li data-tooltip="icon-docs" class="ttip"><i class="icon-docs"></i></li>
           <li data-tooltip="icon-doc-landscape" class="ttip"><i class="icon-doc-landscape"></i></li>
           <li data-tooltip="icon-doc-text" class="ttip"><i class="icon-text"></i></li>
           <li data-tooltip="icon-doc-text-inv" class="ttip"><i class="icon-doc-text-inv"></i></li>
           <li data-tooltip="icon-newspaper" class="ttip"><i class="icon-newspaper"></i></li>
           <li data-tooltip="icon-book" class="ttip"><i class="icon-book"></i></li>
           <li data-tooltip="icon-book-open" class="ttip"><i class="icon-book-open"></i></li>
           <li data-tooltip="icon-folder" class="ttip"><i class="icon-folder"></i></li>
           <li data-tooltip="icon-archive" class="ttip"><i class="icon-archive"></i></li>
           <li data-tooltip="icon-box" class="ttip"><i class="icon-box"></i></li>
           <li data-tooltip="icon-rss" class="ttip"><i class="icon-rss"></i></li>
           <li data-tooltip="icon-phone" class="ttip"><i class="icon-phone"></i></li>
           <li data-tooltip="icon-cog" class="ttip"><i class="icon-cog"></i></li>
           <li data-tooltip="icon-tools" class="ttip"><i class="icon-tools"></i></li>
           <li data-tooltip="icon-share" class="ttip"><i class="icon-shared"></i></li>
           <li data-tooltip="icon-shareable" class="ttip"><i class="icon-shareable"></i></li>
           <li data-tooltip="icon-basket" class="ttip"><i class="icon-basket"></i></li>
           <li data-tooltip="icon-bag" class="ttip"><i class="icon-bag"></i></li>
           <li data-tooltip="icon-calendar" class="ttip"><i class="icon-calendar"></i></li>
           <li data-tooltip="icon-login" class="ttip"><i class="icon-login"></i></li>
           <li data-tooltip="icon-logout" class="ttip"><i class="icon-logout"></i></li>
           <li data-tooltip="icon-mic" class="ttip"><i class="icon-mic"></i></li>
           <li data-tooltip="icon-mute" class="ttip"><i class="icon-mute"></i></li>
           <li data-tooltip="icon-sound" class="ttip"><i class="icon-sound"></i></li>
           <li data-tooltip="icon-volume" class="ttip"><i class="icon-volume"></i></li>
           <li data-tooltip="icon-clock" class="ttip"><i class="icon-clock"></i></li>
           <li data-tooltip="icon-hourglass" class="ttip"><i class="icon-hourglass"></i></li>
           <li data-tooltip="icon-lamp" class="ttip"><i class="icon-lamp"></i></li>
           <li data-tooltip="icon-light-down" class="ttip"><i class="icon-light-down"></i></li>
           <li data-tooltip="icon-light-up" class="ttip"><i class="icon-light-up"></i></li>
           <li data-tooltip="icon-adjust" class="ttip"><i class="icon-adjust"></i></li>
           <li data-tooltip="icon-block" class="ttip"><i class="icon-block"></i></li>
           <li data-tooltip="icon-resize-full" class="ttip"><i class="icon-resize-full"></i></li>
           <li data-tooltip="icon-popup" class="ttip"><i class="icon-popup"></i></li>
           <li data-tooltip="icon-publish" class="ttip"><i class="icon-publish"></i></li>
           <li data-tooltip="icon-window" class="ttip"><i class="icon-window"></i></li>
           <li data-tooltip="icon-arrow-combo" class="ttip"><i class="icon-arrow-combo"></i></li>
           <li data-tooltip="icon-down-circled" class="ttip"><i class="icon-down-circled"></i></li>
           <li data-tooltip="icon-left-circled" class="ttip"><i class="icon-left-circled"></i></li>
           <li data-tooltip="icon-right-circled" class="ttip"><i class="icon-right-circled"></i></li>
           <li data-tooltip="icon-up-open" class="ttip"><i class="icon-up-open"></i></li>
           <li data-tooltip="icon-down-open" class="ttip"><i class="icon-down-open"></i></li>
           <li data-tooltip="icon-left-open" class="ttip"><i class="icon-left-open"></i></li>
           <li data-tooltip="icon-right-open" class="ttip"><i class="icon-right-open"></i></li>
           <li data-tooltip="icon-up-open-mini" class="ttip"><i class="icon-up-open-mini"></i></li>
           <li data-tooltip="icon-down-open-mini" class="ttip"><i class="icon-down-open-mini"></i></li>
           <li data-tooltip="icon-left-open-mini" class="ttip"><i class="icon-left-open-mini"></i></li>
           <li data-tooltip="icon-right-open-mini" class="ttip"><i class="icon-right-open-mini"></i></li>
           <li data-tooltip="icon-up-open-big" class="ttip"><i class="icon-up-open-big"></i></li>
           <li data-tooltip="icon-down-open-big" class="ttip"><i class="icon-down-open-big"></i></li>
           <li data-tooltip="icon-left-open-big" class="ttip"><i class="icon-left-open-big"></i></li>
           <li data-tooltip="icon-right-open-big" class="ttip"><i class="icon-right-open-big"></i></li>
           <li data-tooltip="icon-down" class="ttip"><i class="icon-down"></i></li>
           <li data-tooltip="icon-arrow-left" class="ttip"><i class="icon-arrow-right"></i></li>
           <li data-tooltip="icon-arrow-right" class="ttip"><i class="icon-arrow-right"></i></li>
           <li data-tooltip="icon-up" class="ttip"><i class="icon-up"></i></li>
           <li data-tooltip="icon-up-dir" class="ttip"><i class="icon-up-dir"></i></li>
           <li data-tooltip="icon-down-dir" class="ttip"><i class="icon-down-dir"></i></li>
           <li data-tooltip="icon-left-dir" class="ttip"><i class="icon-left-dir"></i></li>
           <li data-tooltip="icon-right-dir" class="ttip"><i class="icon-right-dir"></i></li>
           <li data-tooltip="icon-up-bold" class="ttip"><i class="icon-up-bold"></i></li>
           <li data-tooltip="icon-down-bold" class="ttip"><i class="icon-down-bold"></i></li>
           <li data-tooltip="icon-left-bold" class="ttip"><i class="icon-left-bold"></i></li>
           <li data-tooltip="icon-right-bold" class="ttip"><i class="icon-right-bold"></i></li>
           <li data-tooltip="icon-up-thin" class="ttip"><i class="icon-up-thin"></i></li>
           <li data-tooltip="icon-down-thin" class="ttip"><i class="icon-down-thin"></i></li>
           <li data-tooltip="icon-left-thin" class="ttip"><i class="icon-left-thin"></i></li>
           <li data-tooltip="icon-right-thin" class="ttip"><i class="icon-right-thin"></i></li>
           <li data-tooltip="icon-ccw" class="ttip"><i class="icon-ccw"></i></li>
           <li data-tooltip="icon-cw" class="ttip"><i class="icon-cw"></i></li>
           <li data-tooltip="icon-arrows-ccw" class="ttip"><i class="icon-arrows-ccw"></i></li>
           <li data-tooltip="icon-level-down" class="ttip"><i class="icon-level-down"></i></li>
           <li data-tooltip="icon-level-up" class="ttip"><i class="icon-level-up"></i></li>
           <li data-tooltip="icon-shuffle" class="ttip"><i class="icon-shuffle"></i></li>
           <li data-tooltip="icon-loop" class="ttip"><i class="icon-loop"></i></li>
           <li data-tooltip="icon-switch" class="ttip"><i class="icon-switch"></i></li>
           <li data-tooltip="icon-play" class="ttip"><i class="icon-play"></i></li>
           <li data-tooltip="icon-stop" class="ttip"><i class="icon-stop"></i></li>
           <li data-tooltip="icon-pause" class="ttip"><i class="icon-pause"></i></li>
           <li data-tooltip="icon-record" class="ttip"><i class="icon-record"></i></li>
           <li data-tooltip="icon-to-end" class="ttip"><i class="icon-to-end"></i></li>
           <li data-tooltip="icon-to-start" class="ttip"><i class="icon-to-start"></i></li>
           <li data-tooltip="icon-fast-forward" class="ttip"><i class="icon-fast-forward"></i></li>
           <li data-tooltip="icon-fast-backward" class="ttip"><i class="icon-fast-backward"></i></li>
           <li data-tooltip="icon-progress-0" class="ttip"><i class="icon-progress-0"></i></li>
           <li data-tooltip="icon-progress-1" class="ttip"><i class="icon-progress-1"></i></li>
           <li data-tooltip="icon-progress-2" class="ttip"><i class="icon-progress-2"></i></li>
           <li data-tooltip="icon-progress-3" class="ttip"><i class="icon-progress-3"></i></li>
           <li data-tooltip="icon-target" class="ttip"><i class="icon-target"></i></li>
           <li data-tooltip="icon-palette" class="ttip"><i class="icon-palette"></i></li>
           <li data-tooltip="icon-list" class="ttip"><i class="icon-list"></i></li>
           <li data-tooltip="icon-list-add" class="ttip"><i class="icon-list-add"></i></li>
           <li data-tooltip="icon-signal" class="ttip"><i class="icon-signal"></i></li>
           <li data-tooltip="icon-trophy" class="ttip"><i class="icon-trophy"></i></li>
           <li data-tooltip="icon-battery" class="ttip"><i class="icon-battery"></i></li>
           <li data-tooltip="icon-back-in-time" class="ttip"><i class="icon-back-in-time"></i></li>
           <li data-tooltip="icon-monitor" class="ttip"><i class="icon-monitor"></i></li>
           <li data-tooltip="icon-mobile" class="ttip"><i class="icon-mobile"></i></li>
           <li data-tooltip="icon-network" class="ttip"><i class="icon-network"></i></li>
           <li data-tooltip="icon-cd" class="ttip"><i class="icon-cd"></i></li>
           <li data-tooltip="icon-inbox" class="ttip"><i class="icon-inbox"></i></li>
           <li data-tooltip="icon-install" class="ttip"><i class="icon-install"></i></li>
           <li data-tooltip="icon-globe" class="ttip"><i class="icon-globe"></i></li>
           <li data-tooltip="icon-cloud" class="ttip"><i class="icon-cloud"></i></li>
           <li data-tooltip="icon-cloud-thunder" class="ttip"><i class="icon-cloud-thunder"></i></li>
           <li data-tooltip="icon-flash" class="ttip"><i class="icon-flash"></i></li>
           <li data-tooltip="icon-moon" class="ttip"><i class="icon-moon"></i></li>
           <li data-tooltip="icon-mouse" class="ttip"><i class="icon-mouse"></i></li>
           <li data-tooltip="icon-briefcase" class="ttip"><i class="icon-briefcase"></i></li>
           <li data-tooltip="icon-suitcase" class="ttip"><i class="icon-suitcase"></i></li>
           <li data-tooltip="icon-flight" class="ttip"><i class="icon-flight"></i></li>
           <li data-tooltip="icon-paper-plane" class="ttip"><i class="icon-paper-plane"></i></li>
           <li data-tooltip="icon-leaf" class="ttip"><i class="icon-leaf"></i></li>
           <li data-tooltip="icon-lifebouy" class="ttip"><i class="icon-lifebouy"></i></li>
           <li data-tooltip="icon-dot" class="ttip"><i class="icon-dot"></i></li>
           <li data-tooltip="icon-dot-2" class="ttip"><i class="icon-dot-2"></i></li>
           <li data-tooltip="icon-dot-3" class="ttip"><i class="icon-dot-3"></i></li>
           <li data-tooltip="icon-brush" class="ttip"><i class="icon-brush"></i></li>
           <li data-tooltip="icon-magnet" class="ttip"><i class="icon-magnet"></i></li>
           <li data-tooltip="icon-infinity" class="ttip"><i class="icon-infinity"></i></li>
           <li data-tooltip="icon-erase" class="ttip"><i class="icon-erase"></i></li>
           <li data-tooltip="icon-chart-pie" class="ttip"><i class="icon-chart-pie"></i></li>
           <li data-tooltip="icon-chart-line" class="ttip"><i class="icon-chart-line"></i></li>
           <li data-tooltip="icon-chart-bar" class="ttip"><i class="icon-chart-bar"></i></li>
           <li data-tooltip="icon-chart-area" class="ttip"><i class="icon-chart-area"></i></li>
           <li data-tooltip="icon-tape" class="ttip"><i class="icon-tape"></i></li>
           <li data-tooltip="icon-graduation-cap" class="ttip"><i class="icon-graduation-cap"></i></li>
           <li data-tooltip="icon-language" class="ttip"><i class="icon-language"></i></li>
           <li data-tooltip="icon-ticket" class="ttip"><i class="icon-ticket"></i></li>
           <li data-tooltip="icon-water" class="ttip"><i class="icon-water"></i></li>
           <li data-tooltip="icon-droplet" class="ttip"><i class="icon-droplet"></i></li>
           <li data-tooltip="icon-air" class="ttip"><i class="icon-air"></i></li>
           <li data-tooltip="icon-credit-card" class="ttip"><i class="icon-credit-card"></i></li>
           <li data-tooltip="icon-floppy" class="ttip"><i class="icon-floppy"></i></li>
           <li data-tooltip="icon-clipboard" class="ttip"><i class="icon-clipboard"></i></li>
           <li data-tooltip="icon-megaphone" class="ttip"><i class="icon-megaphone"></i></li>
           <li data-tooltip="icon-database" class="ttip"><i class="icon-database"></i></li>
           <li data-tooltip="icon-drive" class="ttip"><i class="icon-drive"></i></li>
           <li data-tooltip="icon-bucket" class="ttip"><i class="icon-bucket"></i></li>
           <li data-tooltip="icon-thermometer" class="ttip"><i class="icon-thermometer"></i></li>
           <li data-tooltip="icon-key" class="ttip"><i class="icon-key"></i></li>
           <li data-tooltip="icon-flow-cascade" class="ttip"><i class="icon-flow-cascade"></i></li>
           <li data-tooltip="icon-flow-branch" class="ttip"><i class="icon-flow-branch"></i></li>
           <li data-tooltip="icon-flow-tree" class="ttip"><i class="icon-flow-tree"></i></li>
           <li data-tooltip="icon-flow-line" class="ttip"><i class="icon-flow-line"></i></li>
           <li data-tooltip="icon-flow-parallel" class="ttip"><i class="icon-flow-parallel"></i></li>
           <li data-tooltip="icon-rocket" class="ttip"><i class="icon-rocket"></i></li>
           <li data-tooltip="icon-gauge" class="ttip"><i class="icon-gauge"></i></li>
           <li data-tooltip="icon-traffic-cone" class="ttip"><i class="icon-traffic-cone"></i></li>
           <li data-tooltip="icon-cc" class="ttip"><i class="icon-cc"></i></li>
           <li data-tooltip="icon-cc-by" class="ttip"><i class="icon-cc-by"></i></li>
           <li data-tooltip="icon-cc-nc" class="ttip"><i class="icon-cc-nc"></i></li>
           <li data-tooltip="icon-cc-nc-eu" class="ttip"><i class="icon-cc-nc-eu"></i></li>
           <li data-tooltip="icon-cc-nc-jp" class="ttip"><i class="icon-cc-nc-jp"></i></li>
           <li data-tooltip="icon-cc-sa" class="ttip"><i class="icon-cc-sa"></i></li>
           <li data-tooltip="icon-cc-nd" class="ttip"><i class="icon-cc-nd"></i></li>
           <li data-tooltip="icon-cc-pd" class="ttip"><i class="icon-cc-pd"></i></li>
           <li data-tooltip="icon-cc-zero" class="ttip"><i class="icon-cc-zero"></i></li>
           <li data-tooltip="icon-cc-share" class="ttip"><i class="icon-cc-share"></i></li>
           <li data-tooltip="icon-cc-remix" class="ttip"><i class="icon-cc-remix"></i></li>
           <li data-tooltip="icon-github" class="ttip"><i class="icon-github"></i></li>
           <li data-tooltip="icon-github-circled" class="ttip"><i class="icon-github-circled"></i></li>
           <li data-tooltip="icon-flickr" class="ttip"><i class="icon-flickr"></i></li>
           <li data-tooltip="icon-flickr-circled" class="ttip"><i class="icon-flickr-circled"></i></li>
           <li data-tooltip="icon-vimeo" class="ttip"><i class="icon-vimeo"></i></li>
           <li data-tooltip="icon-vimeo-circled" class="ttip"><i class="icon-vimeo-circled"></i></li>
           <li data-tooltip="icon-gplus" class="ttip"><i class="icon-gplus"></i></li>
           <li data-tooltip="icon-gplus-circled" class="ttip"><i class="icon-gplus-circled"></i></li>
           <li data-tooltip="icon-pinterest" class="ttip"><i class="icon-pinterest"></i></li>
           <li data-tooltip="icon-pinterest-circled" class="ttip"><i class="icon-pinterest-circled"></i></li>
           <li data-tooltip="icon-tumblr" class="ttip"><i class="icon-tumblr"></i></li>
           <li data-tooltip="icon-tumblr-circled" class="ttip"><i class="icon-tumblr-circled"></i></li>
           <li data-tooltip="icon-linkedin" class="ttip"><i class="icon-linkedin"></i></li>
           <li data-tooltip="icon-linkedin-circled" class="ttip"><i class="icon-linkedin-circled"></i></li>
           <li data-tooltip="icon-dribbble" class="ttip"><i class="icon-dribbble"></i></li>
           <li data-tooltip="icon-dribbble-circled" class="ttip"><i class="icon-dribbble-circled"></i></li>
           <li data-tooltip="icon-facebook" class="ttip"><i class="icon-facebook"></i></li>
           <li data-tooltip="icon-facebook-circled" class="ttip"><i class="icon-facebook-circled"></i></li>
           <li data-tooltip="icon-facebook-squared" class="ttip"><i class="icon-facebook-squared"></i></li>
           <li data-tooltip="icon-twitter" class="ttip"><i class="icon-twitter"></i></li>
           <li data-tooltip="icon-twitter-circled" class="ttip"><i class="icon-twitter-circled"></i></li>
           <li data-tooltip="icon-lastfm" class="ttip"><i class="icon-lastfm"></i></li>
           <li data-tooltip="icon-lastfm-circled" class="ttip"><i class="icon-lastfm-circled"></i></li>
           <li data-tooltip="icon-rdio" class="ttip"><i class="icon-rdio"></i></li>
           <li data-tooltip="icon-rdio-circled" class="ttip"><i class="icon-rdio-circled"></i></li>
           <li data-tooltip="icon-spotify" class="ttip"><i class="icon-spotify"></i></li>
           <li data-tooltip="icon-spotify-circled" class="ttip"><i class="icon-spotify-circled"></i></li>
           <li data-tooltip="icon-instagram" class="ttip"><i class="icon-instagram"></i></li>
           <li data-tooltip="icon-qq" class="ttip"><i class="icon-qq"></i></li>
           <li data-tooltip="icon-dropbox" class="ttip"><i class="icon-dropbox"></i></li>
           <li data-tooltip="icon-evernote" class="ttip"><i class="icon-evernote"></i></li>
           <li data-tooltip="icon-skype" class="ttip"><i class="icon-skype"></i></li>
           <li data-tooltip="icon-skype-circled" class="ttip"><i class="icon-skype-circled"></i></li>
           <li data-tooltip="icon-flattr" class="ttip"><i class="icon-flattr"></i></li>
           <li data-tooltip="icon-renren" class="ttip"><i class="icon-renren"></i></li>
           <li data-tooltip="icon-sina-weibo" class="ttip"><i class="icon-sina-weibo"></i></li>
           <li data-tooltip="icon-paypal" class="ttip"><i class="icon-paypal"></i></li>
           <li data-tooltip="icon-picasa" class="ttip"><i class="icon-picasa"></i></li>
           <li data-tooltip="icon-soundcloud" class="ttip"><i class="icon-soundcloud"></i></li>
           <li data-tooltip="icon-mixi" class="ttip"><i class="icon-mixi"></i></li>
           <li data-tooltip="icon-behance" class="ttip"><i class="icon-behance"></i></li>
           <li data-tooltip="icon-google-circles" class="ttip"><i class="icon-google-circles"></i></li>
           <li data-tooltip="icon-vkontakte" class="ttip"><i class="icon-vkontakte"></i></li>
           <li data-tooltip="icon-smashing" class="ttip"><i class="icon-smashing"></i></li>
           <li data-tooltip="icon-sweden" class="ttip"><i class="icon-sweden"></i></li>
           <li data-tooltip="icon-db-shape" class="ttip"><i class="icon-db-shape"></i></li>
           <li data-tooltip="icon-logo-db" class="ttip"><i class="icon-logo-db"></i></li>
         </ul>
       </div>
     </section>

  <!-- Grab Google CDN's jQuery, fall back to local if offline -->
  <!-- 2.0 for modern browsers, 1.10 for .oldie -->
  <script>
  var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
  if(!oldieCheck) {
  document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
  } else {
  document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
  }
  </script>
  <script>
  if(!window.jQuery) {
  if(!oldieCheck) {
    document.write('<script src="../js/libs/jquery-2.0.2.min.js"><\/script>');
  } else {
    document.write('<script src="../js/libs/jquery-1.10.1.min.js"><\/script>');
  }
  }
  </script>

  <!--
  Include gumby.js followed by UI modules followed by gumby.init.js
  Or concatenate and minify into a single file -->
  <script gumby-touch="../js/libs" src="../js/libs/gumby.js"></script>
  <script src="../js/libs/ui/gumby.retina.js"></script>
  <script src="..js/libs/ui/gumby.fixed.js"></script>
  <script src="../js/libs/ui/gumby.skiplink.js"></script>
  <script src="../js/libs/ui/gumby.toggleswitch.js"></script>
  <script src="../js/libs/ui/gumby.checkbox.js"></script>
  <script src="../js/libs/ui/gumby.radiobtn.js"></script>
  <script src="../js/libs/ui/gumby.tabs.js"></script>
  <script src="../js/libs/ui/gumby.navbar.js"></script>
  <script src="../js/libs/ui/jquery.validation.js"></script>
  <script src="../js/libs/gumby.init.js"></script>

  <!--
  Google's recommended deferred loading of JS
  gumby.min.js contains gumby.js, all UI modules and gumby.init.js

  Note: If you opt to use this method of defered loading,
  ensure that any javascript essential to the initial
  display of the page is included separately in a normal
  script tag.

  <script type="text/javascript">
  function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "js/libs/gumby.min.js";
  document.body.appendChild(element);
  }
  if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
  </script> -->

  <script src="../js/plugins.js"></script>
  <script src="../js/main.js"></script>

  <!-- Change UA-XXXXX-X to be your site's ID -->
  <!--<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>-->

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
     chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

  </body>
</html>
