doctype
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
  head
    meta(charset='utf-8')
    //
       Use the .htaccess and remove these lines to avoid edge case issues.
             More info: h5bp.com/b/378 
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Gumby - A Flexible, Responsive CSS Framework - Powered by SASS
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='humans.txt')
    link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
    // Facebook Metadata /
    meta(property='fb:page_id', content='')
    meta(property='og:image', content='')
    meta(property='og:description', content='')
    meta(property='og:title', content='')
    // Google+ Metadata /
    meta(itemprop='name', content='')
    meta(itemprop='description', content='')
    meta(itemprop='image', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    //
       We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
           However, there is a blank style.css in the css directory should you prefer 
    link(rel='stylesheet', href='../css/gumby.css')
    // <link rel="stylesheet" href="css/style.css">
    script(src='../js/libs/modernizr-2.6.2.min.js')
  body
    nav(class="navbar")
      div(class="row")
        div(class="two columns")
          h2
            a(href="/")
              i(class="icon-left-open-big")
        div(class="ten columns pull_right")
          h2(class="nav-header-title")
            |icons

    div(class="row")
      h4(class="twelve columns")
        |default icons
      hr
    section(class="row")
      div(class="twelve columns")
        ul(class="icons-tiles")
          li(class="ttip", data-tooltip="icon-note")
            i(class="icon-note")
          li(class="ttip", data-tooltip="icon-note-beamed")
            i(class="icon-note-beamed")
          li(class="ttip", data-tooltip="icon-music")
            i(class="icon-music")
          li(class="ttip", data-tooltip="icon-search")
            i(class="icon-search")
          li(class="ttip", data-tooltip="icon-flashlight")
            i(class="icon-flashlight")
          li(class="ttip", data-tooltip="icon-mail")
            i(class="icon-mail")
          li(class="ttip", data-tooltip="icon-heart")
            i(class="icon-heart")
          li(class="ttip", data-tooltip="icon-heart")
            i(class="icon-heart")
          li(class="ttip", data-tooltip="icon-heart-empty")
            i(class="icon-heart-empty")
          li(class="ttip", data-tooltip="icon-star")
            i(class="icon-star")

          li(class="ttip", data-tooltip="icon-star-empty")
            i(class="icon-star-empty")
          li(class="ttip", data-tooltip="icon-user")
            i(class="icon-user")
          li(class="ttip", data-tooltip="icon-users")
            i(class="icon-users")
          li(class="ttip", data-tooltip="icon-user-add")
            i(class="icon-add")
          li(class="ttip", data-tooltip="icon-video")
            i(class="icon-video")
          li(class="ttip", data-tooltip="icon-check")
            i(class="icon-check")
          li(class="ttip", data-tooltip="icon-cancel")
            i(class="icon-cancel")
          li(class="ttip", data-tooltip="icon-cancel-circled")
            i(class="icon-cancel-circled")
          li(class="ttip", data-tooltip="icon-picture")
            i(class="icon-picture")
          li(class="ttip", data-tooltip="icon-camera")
            i(class="icon-camera")

          li(class="ttip", data-tooltip="icon-layout")
            i(class="icon-layout")
          li(class="ttip", data-tooltip="icon-menu")
            i(class="icon-menu")
          li(class="ttip", data-tooltip="icon-plus-squared")
            i(class="icon-plus-squared")
          li(class="ttip", data-tooltip="icon-minus")
            i(class="icon-minus")
          li(class="ttip", data-tooltip="icon-minus-circled")
            i(class="icon-minus-circled")
          li(class="ttip", data-tooltip="icon-minus-squared")
            i(class="icon-minus-squared")
          li(class="ttip", data-tooltip="icon-cancel-squared")
            i(class="icon-cancel-squared")
          li(class="ttip", data-tooltip="icon-plus")
            i(class="icon-cancel-plus")
          li(class="ttip", data-tooltip="icon-plus-circled")
            i(class="icon-plus-circled")
          li(class="ttip", data-tooltip="icon-info")
            i(class="icon-info")

          li(class="ttip", data-tooltip="icon-info-circled")
            i(class="icon-info-circled")
          li(class="ttip", data-tooltip="icon-back")
            i(class="icon-back")
          li(class="ttip", data-tooltip="icon-home")
            i(class="icon-home")
          li(class="ttip", data-tooltip="icon-link")
            i(class="icon-link")
          li(class="ttip", data-tooltip="icon-help")
            i(class="icon-help")
          li(class="ttip", data-tooltip="icon-help-circled")
            i(class="icon-help-circled")
          li(class="ttip", data-tooltip="icon-attach")
            i(class="icon-attach")
          li(class="ttip", data-tooltip="icon-lock")
            i(class="icon-lock")
          li(class="ttip", data-tooltip="icon-lock-open")
            i(class="icon-lock-open")
          li(class="ttip", data-tooltip="icon-eye")
            i(class="icon-eye")

          li(class="ttip", data-tooltip="icon-tag")
            i(class="icon-tag")
          li(class="ttip", data-tooltip="icon-bookmark")
            i(class="icon-bookmark")
          li(class="ttip", data-tooltip="icon-bookmarks")
            i(class="icon-bookmarks")
          li(class="ttip", data-tooltip="icon-flag")
            i(class="icon-flag")
          li(class="ttip", data-tooltip="icon-thumbs-up")
            i(class="icon-thumbs-up")
          li(class="ttip", data-tooltip="icon-thumbs-down")
            i(class="icon-thumbs-down")
          li(class="ttip", data-tooltip="icon-download")
            i(class="icon-download")
          li(class="ttip", data-tooltip="icon-upload")
            i(class="icon-upload")
          li(class="ttip", data-tooltip="icon-upload-cloud")
            i(class="icon-upload-cloud")
          li(class="ttip", data-tooltip="icon-reply")
            i(class="icon-reply")

          li(class="ttip", data-tooltip="icon-reply-all")
            i(class="icon-reply-all")
          li(class="ttip", data-tooltip="icon-forward")
            i(class="icon-forward")
          li(class="ttip", data-tooltip="icon-quote")
            i(class="icon-quote")
          li(class="ttip", data-tooltip="icon-code")
            i(class="icon-code")
          li(class="ttip", data-tooltip="icon-export")
            i(class="icon-export")
          li(class="ttip", data-tooltip="icon-pencil")
            i(class="icon-pencil")
          li(class="ttip", data-tooltip="icon-feather")
            i(class="icon-feather")
          li(class="ttip", data-tooltip="icon-print")
            i(class="icon-print")
          li(class="ttip", data-tooltip="icon-retweet")
            i(class="icon-retweet")
          li(class="ttip", data-tooltip="icon-keyboard")
            i(class="icon-keyboard")

          li(class="ttip", data-tooltip="icon-comment")
            i(class="icon-comment")
          li(class="ttip", data-tooltip="icon-alert")
            i(class="icon-alert")
          li(class="ttip", data-tooltip="icon-vcard")
            i(class="icon-vcard")
          li(class="ttip", data-tooltip="icon-address")
            i(class="icon-address")
          li(class="ttip", data-tooltip="icon-chat")
            i(class="icon-bell")
          li(class="ttip", data-tooltip="icon-attention")
            i(class="icon-attention")
          li(class="ttip", data-tooltip="icon-location")
            i(class="icon-location")
          li(class="ttip", data-tooltip="icon-map")
            i(class="icon-map")
          li(class="ttip", data-tooltip="icon-direction")
            i(class="icon-direction")
          li(class="ttip", data-tooltip="icon-compass")
            i(class="icon-compass")

          li(class="ttip", data-tooltip="icon-cup")
            i(class="icon-cup")
          li(class="ttip", data-tooltip="icon-trash")
            i(class="icon-trash")
          li(class="ttip", data-tooltip="icon-doc")
            i(class="icon-doc")
          li(class="ttip", data-tooltip="icon-docs")
            i(class="icon-docs")
          li(class="ttip", data-tooltip="icon-doc-landscape")
            i(class="icon-doc-landscape")
          li(class="ttip", data-tooltip="icon-doc-text")
            i(class="icon-text")
          li(class="ttip", data-tooltip="icon-doc-text-inv")
            i(class="icon-doc-text-inv")
          li(class="ttip", data-tooltip="icon-newspaper")
            i(class="icon-newspaper")
          li(class="ttip", data-tooltip="icon-book")
            i(class="icon-book")
          li(class="ttip", data-tooltip="icon-book-open")
            i(class="icon-book-open")

          li(class="ttip", data-tooltip="icon-folder")
            i(class="icon-folder")
          li(class="ttip", data-tooltip="icon-archive")
            i(class="icon-archive")
          li(class="ttip", data-tooltip="icon-box")
            i(class="icon-box")
          li(class="ttip", data-tooltip="icon-rss")
            i(class="icon-rss")
          li(class="ttip", data-tooltip="icon-phone")
            i(class="icon-phone")
          li(class="ttip", data-tooltip="icon-cog")
            i(class="icon-cog")
          li(class="ttip", data-tooltip="icon-tools")
            i(class="icon-tools")
          li(class="ttip", data-tooltip="icon-share")
            i(class="icon-shared")
          li(class="ttip", data-tooltip="icon-shareable")
            i(class="icon-shareable")
          li(class="ttip", data-tooltip="icon-basket")
            i(class="icon-basket")

          li(class="ttip", data-tooltip="icon-bag")
            i(class="icon-bag")
          li(class="ttip", data-tooltip="icon-calendar")
            i(class="icon-calendar")
          li(class="ttip", data-tooltip="icon-login")
            i(class="icon-login")
          li(class="ttip", data-tooltip="icon-logout")
            i(class="icon-logout")
          li(class="ttip", data-tooltip="icon-mic")
            i(class="icon-mic")
          li(class="ttip", data-tooltip="icon-mute")
            i(class="icon-mute")
          li(class="ttip", data-tooltip="icon-sound")
            i(class="icon-sound")
          li(class="ttip", data-tooltip="icon-volume")
            i(class="icon-volume")
          li(class="ttip", data-tooltip="icon-clock")
            i(class="icon-clock")
          li(class="ttip", data-tooltip="icon-hourglass")
            i(class="icon-hourglass")
          
          li(class="ttip", data-tooltip="icon-lamp")
            i(class="icon-lamp")
          li(class="ttip", data-tooltip="icon-light-down")
            i(class="icon-light-down")
          li(class="ttip", data-tooltip="icon-light-up")
            i(class="icon-light-up")
          li(class="ttip", data-tooltip="icon-adjust")
            i(class="icon-adjust")
          li(class="ttip", data-tooltip="icon-block")
            i(class="icon-block")
          li(class="ttip", data-tooltip="icon-resize-full")
            i(class="icon-resize-full")
          li(class="ttip", data-tooltip="icon-popup")
            i(class="icon-popup")
          li(class="ttip", data-tooltip="icon-publish")
            i(class="icon-publish")
          li(class="ttip", data-tooltip="icon-window")
            i(class="icon-window")
          li(class="ttip", data-tooltip="icon-arrow-combo")
            i(class="icon-arrow-combo")

          li(class="ttip", data-tooltip="icon-down-circled")
            i(class="icon-down-circled")
          li(class="ttip", data-tooltip="icon-left-circled")
            i(class="icon-left-circled")
          li(class="ttip", data-tooltip="icon-right-circled")
            i(class="icon-right-circled")
          li(class="ttip", data-tooltip="icon-up-open")
            i(class="icon-up-open")
          li(class="ttip", data-tooltip="icon-down-open")
            i(class="icon-down-open")
          li(class="ttip", data-tooltip="icon-left-open")
            i(class="icon-left-open")
          li(class="ttip", data-tooltip="icon-right-open")
            i(class="icon-right-open")
          li(class="ttip", data-tooltip="icon-up-open-mini")
            i(class="icon-up-open-mini")
          li(class="ttip", data-tooltip="icon-down-open-mini")
            i(class="icon-down-open-mini")
          li(class="ttip", data-tooltip="icon-left-open-mini")
            i(class="icon-left-open-mini")
          
          li(class="ttip", data-tooltip="icon-right-open-mini")
            i(class="icon-right-open-mini")
          li(class="ttip", data-tooltip="icon-up-open-big")
            i(class="icon-up-open-big")
          li(class="ttip", data-tooltip="icon-down-open-big")
            i(class="icon-down-open-big")
          li(class="ttip", data-tooltip="icon-left-open-big")
            i(class="icon-left-open-big")
          li(class="ttip", data-tooltip="icon-right-open-big")
            i(class="icon-right-open-big")
          li(class="ttip", data-tooltip="icon-down")
            i(class="icon-down")
          li(class="ttip", data-tooltip="icon-arrow-left")
            i(class="icon-arrow-right")
          li(class="ttip", data-tooltip="icon-arrow-right")
            i(class="icon-arrow-right")
          li(class="ttip", data-tooltip="icon-up")
            i(class="icon-up")
          li(class="ttip", data-tooltip="icon-up-dir")
            i(class="icon-up-dir")

          li(class="ttip", data-tooltip="icon-down-dir")
            i(class="icon-down-dir")
          li(class="ttip", data-tooltip="icon-left-dir")
            i(class="icon-left-dir")
          li(class="ttip", data-tooltip="icon-right-dir")
            i(class="icon-right-dir")
          li(class="ttip", data-tooltip="icon-up-bold")
            i(class="icon-up-bold")
          li(class="ttip", data-tooltip="icon-down-bold")
            i(class="icon-down-bold")
          li(class="ttip", data-tooltip="icon-left-bold")
            i(class="icon-left-bold")
          li(class="ttip", data-tooltip="icon-right-bold")
            i(class="icon-right-bold")
          li(class="ttip", data-tooltip="icon-up-thin")
            i(class="icon-up-thin")
          li(class="ttip", data-tooltip="icon-down-thin")
            i(class="icon-down-thin")
          li(class="ttip", data-tooltip="icon-left-thin")
            i(class="icon-left-thin")

          li(class="ttip", data-tooltip="icon-right-thin")
            i(class="icon-right-thin")
          li(class="ttip", data-tooltip="icon-ccw")
            i(class="icon-ccw")
          li(class="ttip", data-tooltip="icon-cw")
            i(class="icon-cw")
          li(class="ttip", data-tooltip="icon-arrows-ccw")
            i(class="icon-arrows-ccw")
          li(class="ttip", data-tooltip="icon-level-down")
            i(class="icon-level-down")
          li(class="ttip", data-tooltip="icon-level-up")
            i(class="icon-level-up")
          li(class="ttip", data-tooltip="icon-shuffle")
            i(class="icon-shuffle")
          li(class="ttip", data-tooltip="icon-loop")
            i(class="icon-loop")
          li(class="ttip", data-tooltip="icon-switch")
            i(class="icon-switch")
          li(class="ttip", data-tooltip="icon-play")
            i(class="icon-play")

          li(class="ttip", data-tooltip="icon-stop")
            i(class="icon-stop")
          li(class="ttip", data-tooltip="icon-pause")
            i(class="icon-pause")
          li(class="ttip", data-tooltip="icon-record")
            i(class="icon-record")
          li(class="ttip", data-tooltip="icon-to-end")
            i(class="icon-to-end")
          li(class="ttip", data-tooltip="icon-to-start")
            i(class="icon-to-start")
          li(class="ttip", data-tooltip="icon-fast-forward")
            i(class="icon-fast-forward")
          li(class="ttip", data-tooltip="icon-fast-backward")
            i(class="icon-fast-backward")
          li(class="ttip", data-tooltip="icon-progress-0")
            i(class="icon-progress-0")
          li(class="ttip", data-tooltip="icon-progress-1")
            i(class="icon-progress-1")
          li(class="ttip", data-tooltip="icon-progress-2")
            i(class="icon-progress-2")

          li(class="ttip", data-tooltip="icon-progress-3")
            i(class="icon-progress-3")
          li(class="ttip", data-tooltip="icon-target")
            i(class="icon-target")
          li(class="ttip", data-tooltip="icon-palette")
            i(class="icon-palette")
          li(class="ttip", data-tooltip="icon-list")
            i(class="icon-list")
          li(class="ttip", data-tooltip="icon-list-add")
            i(class="icon-list-add")
          li(class="ttip", data-tooltip="icon-signal")
            i(class="icon-signal")
          li(class="ttip", data-tooltip="icon-trophy")
            i(class="icon-trophy")
          li(class="ttip", data-tooltip="icon-battery")
            i(class="icon-battery")
          li(class="ttip", data-tooltip="icon-back-in-time")
            i(class="icon-back-in-time")
          li(class="ttip", data-tooltip="icon-monitor")
            i(class="icon-monitor")

          li(class="ttip", data-tooltip="icon-mobile")
            i(class="icon-mobile")
          li(class="ttip", data-tooltip="icon-network")
            i(class="icon-network")
          li(class="ttip", data-tooltip="icon-cd")
            i(class="icon-cd")
          li(class="ttip", data-tooltip="icon-inbox")
            i(class="icon-inbox")
          li(class="ttip", data-tooltip="icon-install")
            i(class="icon-install")
          li(class="ttip", data-tooltip="icon-globe")
            i(class="icon-globe")
          li(class="ttip", data-tooltip="icon-cloud")
            i(class="icon-cloud")
          li(class="ttip", data-tooltip="icon-cloud-thunder")
            i(class="icon-cloud-thunder")
          li(class="ttip", data-tooltip="icon-flash")
            i(class="icon-flash")
          li(class="ttip", data-tooltip="icon-moon")
            i(class="icon-moon")

          li(class="ttip", data-tooltip="icon-mouse")
            i(class="icon-mouse")
          li(class="ttip", data-tooltip="icon-briefcase")
            i(class="icon-briefcase")
          li(class="ttip", data-tooltip="icon-suitcase")
            i(class="icon-suitcase")
          li(class="ttip", data-tooltip="icon-flight")
            i(class="icon-flight")
          li(class="ttip", data-tooltip="icon-paper-plane")
            i(class="icon-paper-plane")
          li(class="ttip", data-tooltip="icon-leaf")
            i(class="icon-leaf")
          li(class="ttip", data-tooltip="icon-lifebouy")
            i(class="icon-lifebouy")
          li(class="ttip", data-tooltip="icon-dot")
            i(class="icon-dot")
          li(class="ttip", data-tooltip="icon-dot-2")
            i(class="icon-dot-2")
          li(class="ttip", data-tooltip="icon-dot-3")
            i(class="icon-dot-3")

          li(class="ttip", data-tooltip="icon-brush")
            i(class="icon-brush")
          li(class="ttip", data-tooltip="icon-magnet")
            i(class="icon-magnet")
          li(class="ttip", data-tooltip="icon-infinity")
            i(class="icon-infinity")
          li(class="ttip", data-tooltip="icon-erase")
            i(class="icon-erase")
          li(class="ttip", data-tooltip="icon-chart-pie")
            i(class="icon-chart-pie")
          li(class="ttip", data-tooltip="icon-chart-line")
            i(class="icon-chart-line")
          li(class="ttip", data-tooltip="icon-chart-bar")
            i(class="icon-chart-bar")
          li(class="ttip", data-tooltip="icon-chart-area")
            i(class="icon-chart-area")
          li(class="ttip", data-tooltip="icon-tape")
            i(class="icon-tape")
          li(class="ttip", data-tooltip="icon-graduation-cap")
            i(class="icon-graduation-cap")

          li(class="ttip", data-tooltip="icon-language")
            i(class="icon-language")
          li(class="ttip", data-tooltip="icon-ticket")
            i(class="icon-ticket")
          li(class="ttip", data-tooltip="icon-water")
            i(class="icon-water")
          li(class="ttip", data-tooltip="icon-droplet")
            i(class="icon-droplet")
          li(class="ttip", data-tooltip="icon-air")
            i(class="icon-air")
          li(class="ttip", data-tooltip="icon-credit-card")
            i(class="icon-credit-card")
          li(class="ttip", data-tooltip="icon-floppy")
            i(class="icon-floppy")
          li(class="ttip", data-tooltip="icon-clipboard")
            i(class="icon-clipboard")
          li(class="ttip", data-tooltip="icon-megaphone")
            i(class="icon-megaphone")
          li(class="ttip", data-tooltip="icon-database")
            i(class="icon-database")

          li.ttip(data-tooltip='icon-drive')
            i(class="icon-drive")
          li.ttip(data-tooltip='icon-bucket')
            i(class="icon-bucket")
          li.ttip(data-tooltip='icon-thermometer')
            i(class="icon-thermometer")
          li.ttip(data-tooltip='icon-key')
            i(class="icon-key")
          li.ttip(data-tooltip='icon-flow-cascade')
            i(class="icon-flow-cascade")
          li.ttip(data-tooltip='icon-flow-branch')
            i(class="icon-flow-branch")
          li.ttip(data-tooltip='icon-flow-tree')
            i(class="icon-flow-tree")
          li.ttip(data-tooltip='icon-flow-line')
            i(class="icon-flow-line")
          li.ttip(data-tooltip='icon-flow-parallel')
            i(class="icon-flow-parallel")
          li.ttip(data-tooltip='icon-rocket')
            i(class="icon-rocket")

          li.ttip(data-tooltip='icon-gauge')
            i(class="icon-gauge")
          li.ttip(data-tooltip='icon-traffic-cone')
            i(class="icon-traffic-cone")
          li.ttip(data-tooltip='icon-cc')
            i(class="icon-cc")
          li.ttip(data-tooltip='icon-cc-by')
            i(class="icon-cc-by")
          li.ttip(data-tooltip='icon-cc-nc')
            i(class="icon-cc-nc")
          li.ttip(data-tooltip='icon-cc-nc-eu')
            i(class="icon-cc-nc-eu")
          li.ttip(data-tooltip='icon-cc-nc-jp')
            i(class="icon-cc-nc-jp")
          li.ttip(data-tooltip='icon-cc-sa')
            i(class="icon-cc-sa")
          li.ttip(data-tooltip='icon-cc-nd')
            i(class="icon-cc-nd")
          li.ttip(data-tooltip='icon-cc-pd')
            i(class="icon-cc-pd")

          li.ttip(data-tooltip='icon-cc-zero')
            i(class="icon-cc-zero")
          li.ttip(data-tooltip='icon-cc-share')
            i(class="icon-cc-share")
          li.ttip(data-tooltip='icon-cc-remix')
            i(class="icon-cc-remix")
          li.ttip(data-tooltip='icon-github')
            i(class="icon-github")
          li.ttip(data-tooltip='icon-github-circled')
            i(class="icon-github-circled")
          li.ttip(data-tooltip='icon-flickr')
            i(class="icon-flickr")
          li.ttip(data-tooltip='icon-flickr-circled')
            i(class="icon-flickr-circled")
          li.ttip(data-tooltip='icon-vimeo')
            i(class="icon-vimeo")
          li.ttip(data-tooltip='icon-vimeo-circled')
            i(class="icon-vimeo-circled")
          li.ttip(data-tooltip='icon-gplus')
            i(class="icon-gplus")

          li.ttip(data-tooltip='icon-gplus-circled')
            i(class="icon-gplus-circled")
          li.ttip(data-tooltip='icon-pinterest')
            i(class="icon-pinterest")
          li.ttip(data-tooltip='icon-pinterest-circled')
            i(class="icon-pinterest-circled")
          li.ttip(data-tooltip='icon-tumblr')
            i(class="icon-tumblr")
          li.ttip(data-tooltip='icon-tumblr-circled')
            i(class="icon-tumblr-circled")
          li.ttip(data-tooltip='icon-linkedin')
            i(class="icon-linkedin")
          li.ttip(data-tooltip='icon-linkedin-circled')
            i(class="icon-linkedin-circled")
          li.ttip(data-tooltip='icon-dribbble')
            i(class="icon-dribbble")
          li.ttip(data-tooltip='icon-dribbble-circled')
            i(class="icon-dribbble-circled")
          li.ttip(data-tooltip='icon-facebook')
            i(class="icon-facebook")

          li.ttip(data-tooltip='icon-facebook-circled')
            i(class="icon-facebook-circled")
          li.ttip(data-tooltip='icon-facebook-squared')
            i(class="icon-facebook-squared")
          li.ttip(data-tooltip='icon-twitter')
            i(class="icon-twitter")
          li.ttip(data-tooltip='icon-twitter-circled')
            i(class="icon-twitter-circled")
          li.ttip(data-tooltip='icon-lastfm')
            i(class="icon-lastfm")
          li.ttip(data-tooltip='icon-lastfm-circled')
            i(class="icon-lastfm-circled")
          li.ttip(data-tooltip='icon-rdio')
            i(class="icon-rdio")
          li.ttip(data-tooltip='icon-rdio-circled')
            i(class="icon-rdio-circled")
          li.ttip(data-tooltip='icon-spotify')
            i(class="icon-spotify")
          li.ttip(data-tooltip='icon-spotify-circled')
            i(class="icon-spotify-circled")

          li.ttip(data-tooltip='icon-instagram')
            i(class="icon-instagram")
          li.ttip(data-tooltip='icon-qq')
            i(class="icon-qq")
          li.ttip(data-tooltip='icon-dropbox')
            i(class="icon-dropbox")
          li.ttip(data-tooltip='icon-evernote')
            i(class="icon-evernote")
          li.ttip(data-tooltip='icon-skype')
            i(class="icon-skype")
          li.ttip(data-tooltip='icon-skype-circled')
            i(class="icon-skype-circled")
          li.ttip(data-tooltip='icon-flattr')
            i(class="icon-flattr")
          li.ttip(data-tooltip='icon-renren')
            i(class="icon-renren")
          li.ttip(data-tooltip='icon-sina-weibo')
            i(class="icon-sina-weibo")
          li.ttip(data-tooltip='icon-paypal')
            i(class="icon-paypal")

          li.ttip(data-tooltip='icon-picasa')
            i(class="icon-picasa")
          li.ttip(data-tooltip='icon-soundcloud')
            i(class="icon-soundcloud")
          li.ttip(data-tooltip='icon-mixi')
            i(class="icon-mixi")
          li.ttip(data-tooltip='icon-behance')
            i(class="icon-behance")
          li.ttip(data-tooltip='icon-google-circles')
            i(class="icon-google-circles")
          li.ttip(data-tooltip='icon-vkontakte')
            i(class="icon-vkontakte")
          li.ttip(data-tooltip='icon-smashing')
            i(class="icon-smashing")
          li.ttip(data-tooltip='icon-sweden')
            i(class="icon-sweden")
          li.ttip(data-tooltip='icon-db-shape')
            i(class="icon-db-shape")
          li.ttip(data-tooltip='icon-logo-db')
            i(class="icon-logo-db")











      
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/libs/jquery-1.10.2.min.js"><\/script>')</script>
    //
        Include gumby.js followed by UI modules followed by gumby.init.js
        Or concatenate and minify into a single file 
    script(gumby-touch='../js/libs', src='../js/libs/gumby.js')
    script(src='../js/libs/ui/gumby.retina.js')
    script(src='../js/libs/ui/gumby.fixed.js')
    script(src='../js/libs/ui/gumby.skiplink.js')
    script(src='../js/libs/ui/gumby.toggleswitch.js')
    script(src='../js/libs/ui/gumby.checkbox.js')
    script(src='../js/libs/ui/gumby.radiobtn.js')
    script(src='../js/libs/ui/gumby.tabs.js')
    script(src='../js/libs/ui/gumby.navbar.js')
    script(src='../js/libs/ui/jquery.validation.js')
    script(src='../js/libs/gumby.init.js')
    //
        Google's recommended deferred loading of JS
        gumby.min.js contains gumby.js, all UI modules and gumby.init.js
        Note: If you opt to use this method of defered loading,
        ensure that any javascript essential to the initial
        display of the page is included separately in a normal
        script tag.
        <script type="text/javascript">
        function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "js/libs/gumby.min.js";
        document.body.appendChild(element);
        }
        if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
        else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
        else window.onload = downloadJSAtOnload;
    script(src='../js/plugins.js')
    script(src='../js/main.js')
    // Change UA-XXXXX-X to be your site's ID
    //
      script.
        window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
          load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
        
    //
       Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
           chromium.org/developers/how-tos/chrome-frame-getting-started 
    //if lt IE 7 
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script.
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
